<div class="contenedor-header">
    <div class="contendor-header__link">
        <div class="logo">
            <img src="../../../../assets/undraw_On_the_way_re_swjt.svg" alt="" srcset="" class="imagen-logo">
        </div>
        <div class="seccion">
            <input class="input-search" nz-input placeholder="Search !" />
        </div>
        <div class="seccion">
            <span>ENTREGA EN</span>
            <div class="item">
                <i class="fas fa-home"></i>
            </div>
        </div>
        <div class="seccion botones">
            <nz-badge [nzCount]="currentCarritoProducto.length">
                <button class="carrito-button" (click)="open()">
                    <i class="fas fa-shopping-cart"></i>
                </button>
            </nz-badge>
            <button *ngIf="usuario.length !== 0" class="carrito-button"><nz-avatar nzIcon="user" [nzSrc]="usuario[0].picture" nz-dropdown [nzDropdownMenu]="menu"></nz-avatar></button>

            <nz-dropdown-menu #menu="nzDropdownMenu" *ngIf="usuario.length !== 0" >
                <ul nz-menu>
                <li  nz-menu-item nzDisabled>Hola {{usuario[0].name|titlecase}}</li>
                <li nz-menu-divider></li>
                <li nz-menu-item><button></button></li>
                <li nz-menu-item>2nd menu item</li>
                </ul>
              </nz-dropdown-menu>


            <button nz-button nzType="dashed" *ngIf="(auth.isAuthenticated$ | async )" (click)="logout()" class="btn-logout">Logout</button>
        </div>

    </div>
    <div class="contenedor" *ngIf="visible">
        <app-carrito-compra [visible]="visible" [carritoProducto]="currentCarritoProducto"></app-carrito-compra>
    </div>
</div>