<div class="contenedor">
    <div class="card-container" *ngFor="let item of productos" (click)="createComponentModal(item)">
        <nz-card nzHoverable class="card" [nzCover]="coverTemplate">
            <nz-card-meta [nzTitle]="item.nombre" [nzDescription]="item.descripcion"></nz-card-meta>
            <div class="informacion-producto">
                <span> <i class="fas fa-dollar-sign"></i> {{item.precio}}</span>
                <nz-rate nzAllowHalf></nz-rate>
            </div>
        </nz-card>
        <ng-template #coverTemplate>
            <img alt="example" [src]="item.url_image" class="img-card" />
        </ng-template>
    </div>
</div>