<nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visibleCarrito" nzTitle="Lista de ordenes realizadas" (nzOnClose)="close()">


    <div class="contenedor" *ngIf="carrito.length !== 0">
        <div class="content" *ngFor="let item of carrito">
            <div class="card" [ngStyle]=" {background: item.estado ? '#3aff008c' : 'rgb(232 23 23 / 85%)'  } ">
                <div class="card-label__id">
                    <p>{{item.id}}</p>
                    <span>Click para obtener mas informacion de la orden</span>
                    <nz-rate [ngModel]="4" nzDisabled *ngIf="item.estado"></nz-rate>
                </div>
                <div class="card-label__progress">
                        <img class="imagen-card"src="../../../../../../assets/undraw_shopping_app_flsj (1).svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="contenido" *ngIf="carrito.length === 0">
        <img class="imagen-empty" src="../../../../../../assets/undraw_empty_cart_co35.svg" alt="">
    </div>
</nz-drawer>